<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.coronalabs.coronacards.cordova"
    version="0.0.1">

    <name>CoronaView</name>
    <description>CoronaView Plugin</description>
    <license>MIT</license>
    <keywords>cordova,phonegap,plugin,Lua,CoronaCards,CoronaView</keywords>
    <repo>https://github.com/CoronaCards/plugin-phonegap.git</repo>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CoronaView">
                <param name="android-package" value="com.coronalabs.coronacards.cordova.CoronaView"/>
            </feature>
        </config-file>
        <source-file src="src/android/CoronaView.java" target-dir="src/com/coronalabs/coronacards/cordova" />
        
        <js-module src="www/coronaview.js" name="CoronaView">
            <clobbers target="CoronaView" />
        </js-module>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CoronaView">
                <param name="ios-package" value="CDVCoronaViewBridge"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/ARCMacros.h" />
        <header-file src="src/ios/CDVCoronaViewBridge.h" />
        <source-file src="src/ios/CDVCoronaViewBridge.mm" />

        <js-module src="www/coronaview.js" name="CoronaView">
            <clobbers target="CoronaView" />
        </js-module>

<!--
        <framework src="AudioToolbox.framework" weak="true" />
-->
    </platform>
</plugin>
